<div class="login-container">
    <form *ngIf="!isResetMode" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <input formControlName="email" type="email" placeholder="Email" />
      <input formControlName="password" type="password" placeholder="Password" />
      <button type="submit" [disabled]="loading">Login</button>
      <button type="button" (click)="switchToReset()">Forgot Password?</button>
    </form>
  
    <form *ngIf="isResetMode" [formGroup]="resetForm" (ngSubmit)="onResetPassword()">
      <input formControlName="email" type="email" placeholder="Email" />
      <input formControlName="newPassword" type="password" placeholder="New Password" />
      <button type="submit" [disabled]="loading">Reset Password</button>
      <button type="button" (click)="switchToLogin()">Back to Login</button>
    </form>
  </div>