@media print {
  body {
    background-color: white;
    color: black;
  }
  .slick-slider, .slick-dots, button, .icon-button {
    display: none !important;
  }
  h1, h2, h3 {
    color: black;
  }
  .chakra-stack, .chakra-box {
    page-break-inside: avoid;
  }
  .chakra-grid {
    display: block;
  }
}

.calendar-component {
  width: 100%;
  background-color: var(--chakra-colors-white);  /* Default to app's light mode */
  color: var(--chakra-colors-gray-800);  /* Default text color */
}

.calendar-component .react-calendar__tile {
  background-color: var(--chakra-colors-white);
  color: var(--chakra-colors-gray-800);
  border: 1px solid var(--chakra-colors-gray-200);
}

.calendar-component .react-calendar__tile--active {
  background-color: var(--chakra-colors-teal-500);
  color: white;
}

@media (prefers-color-scheme: dark) {
  .calendar-component {
    background-color: var(--chakra-colors-gray-700);
    color: var(--chakra-colors-whiteAlpha-900);
  }
  .calendar-component .react-calendar__tile {
    background-color: var(--chakra-colors-gray-700);
    color: var(--chakra-colors-whiteAlpha-900);
    border: 1px solid var(--chakra-colors-gray-600);
  }
  .calendar-component .react-calendar__tile--active {
    background-color: var(--chakra-colors-teal-300);
    color: black;
  }
}

.leaflet-container {
  height: 500px !important;
  width: 100% !important;
  z-index: 0;
  background-color: var(--chakra-colors-chakra-body-bg) !important;
}

.leaflet-control-attribution {
  font-size: 0.75rem;
  background-color: var(--chakra-colors-chakra-subtle-bg) !important;
  color: var(--chakra-colors-chakra-body-text) !important;
}

.leaflet-popup-content {
  color: var(--chakra-colors-chakra-body-text) !important;
  background-color: var(--chakra-colors-chakra-body-bg) !important;
}

.leaflet-popup-tip {
  background-color: var(--chakra-colors-chakra-body-bg) !important;
} 